<div id="slideshow" class="main_element">
	<div>
		<img src="/assets/slider/2.jpg">
	</div>
	<div>
		<img src="/assets/slider/3.jpg">
	</div>
	<div>
		<img src="/assets/slider/4.jpg">
	</div>
	<div>
		<img src="/assets/slider/5.jpg">
	</div>
	<div>
		<img src="/assets/slider/6.jpg">
	</div>
</div>


<div id="main_no_sidebar" class="main_element">
	
	<div class="school_desc" style="font-size: 1.5em">

		<h3>Welcome to HYP High School</h3>

		HYP High School is a four-year college-oriented school with an enrollment of 2000 students.<br><br>Our school offers a wide range of courses designed to develop the skills our pupils need to succeed in college and in life.<br><br>HYP School is famous all over the country for its simple but effective learning methods, like peer-to-peer tutoring, lab classes and extra activities.
		<br><br><br>
		<%= link_to "Read more", our_institute_main_path, :class => "more_button"%>

	</div>

	<div class="news_box">

		<h3>Latest News</h3>

		<% @news.each do |news| %>
			<b><%= link_to news.title, news_path(news) %></b><br><i>[<%= news.publication_date %>]</i><br><br>
		<% end %>

		<%= link_to "All news", all_news_path, :class => "more_button"%>
	</div>

	<div class="event_box">
		<h3>Upcoming Event</h3>
		<br><br><i>No upcoming events right now, come back later!</i>
		<br><br><br>
		<%= link_to "All events", "#", :class => "more_button inactive_link"%>
	</div>

</div>