<%= render :partial => "layouts/all_to_all_links", object: @all_to_all_links %>

<div id="main" class="main_element">
	
	<h1>Material for <%= @course.name %></h1>

	<div>

		<% if(@materials && @materials.size>0) %>
			
			There <%= "is".pluralize(@materials.size) %> <%= pluralize(@materials.size, "document") %> linked to <%= @course.name %> course, ordered by date:<br>

			<ul>
				<% @materials.each do |material| %>
					<li>
						<%= link_to material.name, material_path(material) %> <i>[Last update <%= material.updated_at %>]</i>
					</li>
				<% end %>
			</ul>

		<% else %>

			<i>No documents linked with <%= @course.name %></i>

		<% end %>

	</div>

</div>