<!DOCTYPE html>

<html>

	<head>
		<title>HYPHighSchool</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
	</head>

	<body>

		<!---------------- HEADER ---------------->
		<header class="main_element">
			<div id="main_title">
			   <%= link_to image_tag("/assets/main/main_logo.png"), root_path %>
			  	<span> <%= link_to "HYP High School", root_path %> </span>
			</div>
			
			<div id="main_search">
				<form>
					<input id="main_search_field" type="text" placeholder="Search..." required>
					<input id="main_search_button" class="inactive_link" type="button" value="Search">
				</form>
			</div>
		</header>

		<!---------------- NAVIGATION BAR ---------------->
		<div id="navbar" class="main_element">
			<div>
				<ul>
					<li>
						<a href="#">The School</a>
						<ul>
							<li><%= link_to "Our Institute", our_institute_main_path %></li>
							<li><%= link_to "News", all_news_path %></li>
							<li><a href="#" class="inactive_link">Calendar</a></li>
							<li><a href="#" class="inactive_link">Enroll</a></li>
							<li><a href="#" class="inactive_link">Rules</a></li>
							<li><a href="#" class="inactive_link">Structures</a></li>
						</ul>
					</li>
					<li>
						<a href="#">Learning</a>
						<ul>
							<li><%= link_to "Courses", courses_path %></li>
							<li><a href="#" class="inactive_link">Classes</a></li>
							<li><%= link_to "Teaching Material", materials_path %></li>
						</ul>
					</li>
					<li>
						<a href="#">Extras</a>
						<ul>
							<li><a href="#" class="inactive_link">Activities</a></li>
							<li><a href="#" class="inactive_link">Events</a></li>
							<li><a href="#" class="inactive_link">Support</a></li>
						</ul>
					</li>
					<li>
						<a href="#">Teachers</a>
						<ul>
							<li><a href="#" class="inactive_link">Our teachers</a></li>
							<li><a href="#" class="inactive_link">Bureaucarcy</a></li>
							<li><%= link_to "Administration", administration_path %></li>
						</ul>
					</li>
					<li>
						<a href="#">Parents</a>
						<ul>
							<li><a href="#" class="inactive_link">Meeting</a></li>
							<li><a href="#" class="inactive_link">Parent Association</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>


		<!---------------- PAGE CONTENT ---------------->
		<%= yield %>


		<!---------------- FOOTER ---------------->
		<footer class="main_element">
				
				<div id="school_address">
					&copy; HYP High School<br>
					4446 Kuhl Avenue<br>
					Atlanta, GA 30303<br>
				</div>
					
				<div id="follow_us">
				     <br> <a href="#" class="inactive_link" style="color: yellow">Follow Us</a>
				</div>
				
		</footer>

	</body>

</html>
